<div class="sidebar">
    <nav>
      <a href="/">Link<span>utter</span><img src="/favicon.ico" height="40px" alt="logo"></a>
      <ul>
        <a href="/dashboard"><li id="dashboard"><p>Dashboard</p></li></a>
        <a href="/dashboard/details"><li id="details"><p>Details</p></li></a>
        <a href="/dashboard/profile"><li id="profile"><p>Profile</p></li></a>
        <li hidden><a href="#">Contact</a></li>
        <a href="/"><li id="home"><p>Home</p></li></a>
      </ul>
    </nav>
</div>