<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css"/>
    <script src="/dashboard.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">Link<span>utter</span></div>
      </header>
      <div class="nav-btn">Menu</div>
      <div class="container">
        
        <div class="sidebar">
          <nav>
            <a href="#">Link<span>utter</span> <img src="/favicon.ico" height="40px" alt="logo"></a>
            <ul>
              <li class="active"><a href="#">Dashboard</a></li>
              <li hidden><a href="#">Followers</a></li>
              <li hidden><a href="#">About</a></li>
              <li hidden><a href="#">Social</a></li>
              <li hidden><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
    
        <div class="main-content">
          <h1>Dashboard</h1>
          <p>Your links</p>
          <div class="panel-wrapper">
            <div class="panel-head">
              linkutter.onrender.com/GoogleImmagini
            </div>
            <div class="panel-body">
                IP: 93.42.184.124 ||
                Country: Italy || 
                Browser: Chrome ||
                OS: Windows ||
                device: Desktop
                <br>
                IP: 98.52.72.124 ||
                Country: USA || 
                Browser: Safari ||
                OS: MacOS ||
                device: Desktop
                <br>
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="panel-head">
              News
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugiat culpa quia possimus molestiae id sapiente ad eveniet, aliquid, eum sint fuga eius, ratione suscipit ut minus voluptates dicta nesciunt.
            </div>
          </div>
          <div class="panel-wrapper">
            <div class="panel-head">
              News
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugiat culpa quia possimus molestiae id sapiente ad eveniet, aliquid, eum sint fuga eius, ratione suscipit ut minus voluptates dicta nesciunt. Totam fugiat culpa quia possimus molestiae id sapiente ad eveniet, aliquid, eum sint fuga eius, ratione suscipit ut minus voluptates dicta nesciunt.
            </div>
          </div>
        </div>
      </div>
</body>
</html>