<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mogra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard.css"/>
    <title>Details</title>
</head>
<body>
    <%- include('./partials/sidebar.ejs') %>

    <div class="main-content">
        <h1>Details</h1>
        <p>Your links</p>


        <% data.forEach(element => { %>
        <div class="panel-wrapper">
            <a href="/dashboard/details/<%=element.short_link%>">
                <div style="border-radius: 10px;" class="panel-head">
                    <p><img src="/favicon.ico" width="15px" alt="original_link_icon">Kutted link:</p>linkutter.onrender.com/<%=element.short_link%>
                    <p><img src="/native.png" width="15px" alt="original_link_icon">Original link:</p><%= element.long_link %>
                </div>
            </a>
        </div>
        <% }); %>
        </div>
</body>
<script>
    document.getElementById('details').classList.add('active');
</script>
</html>